/*
 @import url('https://fonts.googleapis.com/css2?/family=Open+Sans:wght@300;400;600;700&display=swap');
*/
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import 'uc_skin_styles.css';
@import 'skin_styles_ph.css';
@import 'uc_general.css';

body {
    font-family: 'Open Sans';
    background: #ece6d9;
    width: 100%;
    height: 90vh;
    user-select: none;
    padding: 0px;
    margin: 0px;
}

#header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  top: 0px;
  height: 50px;
  width: 100%;
  border: 0px;
  padding-top: 10px;
  overflow: visible;
  cursor: default;
  background-color: rgb(255, 102, 0);
}
#container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  top: 0px;
  height: 90vh;
  width: 100%;
  z-index: 1;
  overflow: visible;
  border-right: 5px solid lightgrey;
  border-bottom: 5px solid lightgrey;
}

#left-pane {
  display: inline-block;
  height: 90vh;
  background-color: rgba(250, 250, 250);
  font-size: 14px;
  font-weight: 700;
  border-right: 2px solid grey;
  overflow-y: auto;
  resize: horizontal;
  border: 5px solid lightgrey;
}

#middle {
  background-color: rgb(250, 250, 250);
  border: 5px solid lightgrey;
  padding: 10px;
  left: 0px;
  margin-left: 1px;
  border: 1px solid black;
}

#right-pane {
  width: 200px;
  border: 1px solid black;
}

