@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import 'uc_skin_styles.css';
@import 'skin_styles_ph.css';
@import 'uc_general.css';
@import 'styles.css';
@import 'spinner.css';

body {
  font-family: 'Open Sans';
  background: #ece6d9;
  width: 99vw;
  padding: 0px;
  margin: 0px;
}

#abx {
  grid-template-columns: auto 1fr;
}
#container {
  display: flex;
  top: 0px;
  height: 88.6vh;
  z-index: 1;
  background-color: rgb(250, 250, 250);
  overflow: visible;
  border-right: 5px solid lightgrey;
  border-bottom: 5px solid lightgrey;
}

#left-pane {
  min-width: 200px;
  font-size: 14px;
  font-weight: 700;
  border-right: 2px solid grey;
  overflow-x: auto;
  overflow-y: auto;
  resize: horizontal;
  border: 2px solid lightgrey;
  padding-right: 10px;
}

#middle {
  flex-grow: 1;
  min-width: 400;
  border: 2px solid lightgrey;
  padding: 10px;
  left: 0px;
  margin-left: 1px;
  resize: horizontal;
  overflow-x: auto;
  overflow-y: auto;
}

#right-pane {
  min-width: 250;
  border: 1px solid black;
  overflow-x: auto;
  overflow-y: auto;
  padding: 10px;
  border: 2px solid lightgrey;
}